[submodule "themes/hugo-theme-yinyang"]
	path = themes/hugo-theme-yinyang
	url = https://github.com/joway/hugo-theme-yinyang.git
[submodule "public"]
	path = public
	url = https://github.com/bacxiunho/bacxiunho.github.io.git
	branch = master
