/* Amatic SC */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=vietnamese');

/* global */

body {
  font-family: "Arvo", Arial, Helvetica, sans-serif;
  margin: 0 20px;
}

a {
  color: #000;
}

/* fonts */


/* header */

.site-title {
  font-size: 3rem;
  margin-top: 32px;
  font-weight: 700;
  text-align: center;
}

.site-description {
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 5px;
  text-align: center;
}

.site-date-catalog {
  font-size: 2rem;
  font-weight: normal;
  display: none;
}

.signatures {
  font-family: 'Amatic SC', cursive;
  /* font-family: "Permanent Marker", Impact, Charcoal, sans-serif; */
}

.signatures a {
  text-decoration: none;
}

.head-line {
  height: 3px;
  width: 100%;
  background-color: #000;
  margin: 30px 0;
}

.lang-switch {
  font-weight: 600;
}

/* posts */

.posts {
  margin-bottom: 80px;
}

.posts-date,
.posts-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.post-line {
  margin: 12px 0;
}

.posts-footer {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.posts-footer-item {
  margin-right: 12px;
}

/* post */

.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.post-date {}

.post-author {
  float: right;
  font-weight: 600;
}

.post-header {
  margin-bottom: 50px;
}

.post-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.posts-title > a {
  text-decoration: none !important;
}

.post-content {
  margin-bottom: 50px;
}

.post-comments {
  margin-bottom: 50px;
}

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}